/**

FONTS

**/

arial-ff = 'Arial, sans-serif'
default-ff = arial-ff

/**

COLORS

**/


/**

GRID

**/

// container widths

// TODO: valeurs bootstrap
base-width = 100%
mobile-width = 100%
tablet-width = 100%
desktop-width = 100%
large-width = 100%
xlarge-width = 100%

columns = 12
gutter-width = 15px

// breakpoints
mobile-breakpoint = 576px
tablet-breakpoint = 768px
desktop-breakpoint = 992px
large-breakpoint = 1200px
xlarge-breakpoint = 1440px

small-height-breakpoint = 500px
medium-height-breakpoint = 720px
large-height-breakpoint = 970px

/**

Z-INDEX

**/
z-index-debug = 2000
z-index-header = 1900
z-index-nav = 1800
