- bodyClasses = bodyClasses || []

doctype html
html(lang="fr")

  include /components/commons/head

  body(class=bodyClasses.join(' '))

    //- h1= htmlWebpackPlugin.files

    //- if htmlWebpackPlugin.files.sprites
    //-   each index, sprite in htmlWebpackPlugin.files.sprites
    //-     div.svgprite= sprite

    include /components/commons/header
    main(router-wrapper)
      div(router-view=pageName)
        block content
    include /components/commons/footer
