<!DOCTYPE html>
<html lang="{{ locale.code }}">
<head>
  {% include 'utils/head/index.html' %}
</head>
<body>

  <div id="root">
    {% block content %}{% endblock %}
  </div>

  <script type="text/javascript">
    window.polyfilled = false
    window.onPolyfill = function() {
      window.polyfilled = true
    }
  </script>
  <script src='https://polyfill.io/v3/polyfill.js?features=Element.prototype.closest%2Cfetch%2CIntersectionObserver%2CIntersectionObserverEntry%2Ces2018%2Ces5%2Ces6%2Ces7%2CArray.prototype.entries%2CArray.prototype.includes%2CArray.prototype.values%2Ces2017%2Ces2016%2Ces2015&callback=onPolyfill' async defer></script>
</body>
</html>
