<!DOCTYPE html>
<html lang="{{ locale.code }}">
<head>
  {% include 'utils/head/index.html' %}
</head>
<body>

  <div id="root">
    {% block content %}{% endblock %}
  </div>

  <script type="text/javascript">
    window.polyfilled = false
    window.onPolyfill = function() {
      window.polyfilled = true
    }
  </script>
  <script src='https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.closest%2CIntersectionObserver%2CIntersectionObserverEntry&callback=onPolyfill' async defer></script>
</body>
</html>
