{% set componentInfos = getComponentInfos(component) %}

<{{ componentInfos.tag }}
  class="{{ componentInfos.classesString }}"
  {% if componentInfos.id %}id="{{ componentInfos.id }}"{% endif %}
  {% if componentInfos.styleVarsString|length %}{{ componentInfos.styleVarsString | safe }}{% endif %}
  {% if componentInfos.datasetString|length %}{{ componentInfos.datasetString | safe }}{% endif %}
  {% if componentInfos.attributesString|length %}{{ componentInfos.attributesString | safe }}{% endif %}>
    {# Content #}
    {% block componentcontent %}{% endblock %}
</{{ componentInfos.tag }}>
