extends /layouts/base.pug
include /components/article/index.pug

block content
  +article({
    jsBlockId: 'article',
    title: 'Mon premier article',
    text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit.'
  })
  h1= pageName
  //- svg
  //-   use(xlink:href='#facebook')
