extends /layouts/base.pug
include /components/article/index.pug

block var
  - pageId = 'home'

block content
  +article({
    jsBlockId: 'article',
    title: 'Mon premier article',
    text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit.'
  })
