{% extends "component.html" %}

{% set props = props|merge({
  placement: 'cover',
  position: 'center center',
  alt: 'Image not loaded',
  sources: ['http://placecorgi.com/1200/800']
}) %}

{% set component = createComponent(component, {
  componentId: 'image',
  classes: [props.placement],
  styleVars: {
    placement: props.placement,
    position: props.position
  },
  attributes: {
    ref: 'image'
  }
}) %}

{% block componentcontent %}
  <picture>
    {% for source in props.sources %}
      <source srcset="{{ source }}" alt="{{ props.alt }}">
    {% endfor %}
    <img src="{{ props.sources|last }}" alt="{{ props.alt }}">
  </picture>
{% endblock %}
